# HOWTO: Edit this file adjusting variables, save, & rename to .env

# Database environment
DB_NAME=Micro-Surveys
DB_USER=metabase
DB_PASSWORD=password
DB_USER_PASSWORD=metabase
DB_DATA_DIR=/var/lib/mysql
DB_OUTSIDE_VOLUME=db-data

# Metabase environment
MB_DB_FILE=/mb-data/metabase.db
MB_VOLUME=mb-data
MB_PORT=3000
MB_JAVA_TIMEZONE=America/New_York

# - MySQL specifics
DB_PORT=3306
DB_INSIDE_VOLUME=/var/lib/mysql


